@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
}
body{
    transition: 1s;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 30rem;
    /* height: 15rem; */
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
}
button{
    margin-top: 5px;
    font-size: 30px;
    width: 100%;
    display: block;
    transition: 1s;
    color: white;
    border: none;
    border-radius: 5px;

}